<div class="content-wrapper">
    <div class="content-header row">
        <div class="col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-left mb-0">Solicitud de créditos inmediatos</h2>
                    <div class="breadcrumb-wrapper">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-primary" href="index.html">Inicio</a>
                            </li>
                            <li class="breadcrumb-item"><a class="text-primary" href="mis-premios.html">Solicitud de
                                créditos inmediatos</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- users list start -->
        <section class="app-user-list">
            <div class="card card-company-table">
                <div class="profile-header-nav">
                    <!-- navbar -->
                    <nav class="navbar navbar-expand-md navbar-light justify-content-end justify-content-md-between w-100">
                        <button class="btn btn-icon navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <i data-feather="align-justify" class="font-medium-5"></i>
                        </button>

                        <!-- collapse  -->
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="d-flex justify-content-between flex-wrap mt-1 mt-md-0">
                                <ul ngbNav #nav="ngbNav" [(activeId)]="tab" class="nav nav-pills mb-0">
                                    <li class="nav-item" [ngbNavItem]="1">
                                        <a ngbNavLink class="d-flex align-items-center nav-link font-weight-bold"><span
                                                class="d-none d-sm-block">Negocios Propios</span></a
                                        >
                                    </li>
                                    <li class="nav-item" [ngbNavItem]="2">
                                        <a ngbNavLink class="d-flex align-items-center nav-link font-weight-bold"><span
                                                class="d-none d-sm-block">Empleados</span></a
                                        >
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <!--/ collapse  -->
                        <div class="col-3" style="text-align: right">
                            <label>Mostrar</label>
                            <select class="form-control-sm" [(ngModel)]="page_size"
                                    (change)="obtenerSolicitudesCreditos()">
                                <option value="4">4</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </nav>
                    <!--/ navbar -->

                </div>


            </div>
            <!-- list section end -->
        </section>
        <section class="app-user-list">
            <div class="card-datatable table-responsive pt-0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Fecha de creación</th>
                        <th>Nombre del cliente</th>
                        <th>Casa Comercial</th>
                        <th>Whatsapp</th>
                        <th>Tipo de persona</th>
                        <th>Monto crédito</th>
                        <th>Estado</th>
                        <th>Documentos</th>
                        <th>Buró de crédito</th>
                        <th>Solicitudnde de crédito</th>
                        <th>Evaluación crediticia</th>
                        <th>Observaciones</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let credito of listaCreditos">
                        <td>{{transformarFecha(credito.created_at)}}</td>
                        <td>{{credito.nombres}} {{credito.apellidos}}</td>
                        <td>{{credito.nombreComercial}}</td>
                        <td>{{credito.whatsappPersona}}</td>
                        <td>{{credito.nombres}}</td>
                        <td>{{credito.monto}}</td>
                        <td>{{credito.canal}}</td>
                        <td>{{credito.emailPersona}}</td>
                        <td>{{credito.plazo}} meses</td>
                        <td>    <!-- Button trigger modal -->
                            <button type="button" (click)="viewDataUser(modalSLC,credito.user)"
                                    class="btn btn-outline-primary"
                                    rippleEffect>
                                View
                            </button>
                        </td>
                        <td>{{credito.telefono}}</td>
                        <td>
                            <div class="badge badge-light-success">{{credito.estado}}</div>
                        </td>
                        <td class="d-flex">
                            <a href="javascript:void(0)" class="avatar bg-info mr-1" data-target="#gestionar"
                               data-toggle="modal" (click)="toggleSidebar('actualizar-credito',credito._id)">
                                <div class="avatar-content" data-toggle="tooltip" data-placement="bottom"
                                     title="" data-original-title="Aprobar/Rechazar">
                                    <i data-feather='check-circle'></i>
                                </div>
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <ngb-pagination #paginator [collectionSize]="collectionSize" [(page)]="page" [(pageSize)]="page_size"
                            [maxSize]="5" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
        </section>
        <!-- users list ends -->
    </div>
</div>
<core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="actualizar-credito"
              overlayClass="modal-backdrop">
    <div class="slideout-content">
        <!-- Modal to add new user starts-->
        <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
            <div class="modal-dialog">
                <form class="add-new-user modal-content pt-0" [formGroup]="actualizarCreditoForm">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            (click)="toggleSidebar('actualizar-credito','')">
                        ×
                    </button>
                    <div class="modal-header mb-1">
                        <h5 class="modal-title" id="exampleModalLabel">Gestión de solicitud de crédito</h5>
                    </div>
                    <div class="modal-body flex-grow-1">
                        <div class="form-group">
                            <label for="reporteBuroCredito">Reporte Buró de Crédito</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="reporteBuroCredito"
                                       formControlName="reporteBuroCredito"
                                       (change)="subirBuroCredito($event)" accept="application/pdf"/>
                                <label class="custom-file-label" for="customFile1">{{reporteBuro}}</label>
                                <div *ngIf="submitted && tForm.reporteBuroCredito.errors" class="invalid-feedback"
                                     style="display: block;">
                                    <div *ngIf="tForm.reporteBuroCredito.errors.required">Reporte Buró de Crédito es
                                        requerido
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="calificacionBuro">Calificación de Buró de Crédito</label>
                            <input type="text" class="form-control" formControlName="calificacionBuro"
                                   [(ngModel)]="actualizarCredito.calificacionBuro">
                            <div *ngIf="submitted && tForm.calificacionBuro.errors" class="invalid-feedback"
                                 style="display: block;">
                                <div *ngIf="tForm.calificacionBuro.errors.required">Calificación de Buró de Crédito es
                                    requerido
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="buroValido">Buro Validado</label>
                            <select class="form-control select2" name="buroValido" formControlName="buroValido"
                                    [(ngModel)]="actualizarCredito.buroValido">
                                <option value="">- Seleccione -</option>
                                <option value="Si">Si</option>
                                <option value="No">No</option>
                            </select>
                            <div *ngIf="submitted && tForm.buroValido.errors" class="invalid-feedback"
                                 style="display: block;">
                                <div *ngIf="tForm.buroValido.errors.required">Buro Valido es requerido</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="identificacion">Cédula de Identidad</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="identificacion"
                                       formControlName="identificacion"
                                       (change)="subirIdentificacion($event)"
                                       accept="image/jpeg,image/png,application/pdf"/>
                                <label class="custom-file-label" for="identificacion">{{identificacion}}</label>
                                <div *ngIf="submitted && tForm.identificacion.errors" class="invalid-feedback"
                                     style="display: block;">
                                    <div *ngIf="tForm.identificacion.errors.required">Cédula de Identidad es requerido
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="customFile1">RUC</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile1"
                                       (change)="subirRuc($event)" accept="application/pdf"/>
                                <label class="custom-file-label" for="customFile1">{{ruc}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="customFile1">Roles de Pago</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile1"
                                       (change)="subirRolesPago($event)" accept="image/jpeg,image/png,application/pdf"/>
                                <label class="custom-file-label" for="customFile1">{{rolesPago}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="customFile1">Plantilla IESS</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile1"
                                       (change)="subirPlanillaIESS($event)"
                                       accept="image/jpeg,image/png,application/pdf"/>
                                <label class="custom-file-label" for="customFile1">{{panillaIESS}}</label>
                            </div>
                        </div>

                        <button class="btn btn-primary mr-1" (click)="actualizarSolicitudCredito()"
                                [disabled]="cargando">Procesar
                        </button>
                        <button class="btn btn-outline-secondary" (click)="cerrarModal('actualizar-credito')"
                                data-dismiss="modal">Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Modal to add new user Ends-->
    </div>

</core-sidebar>
<ng-template #mensajeModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Mensaje</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div [innerHTML]="mensaje"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="cerrarModal()">Cerrar</button>
    </div>
</ng-template>
<ng-template #detalleCreditoMdl let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Detalle del crédito</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div [innerHTML]="mensaje"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="cerrarModal()">Cerrar</button>
    </div>
</ng-template>


<!-- modal Open Srolling Long Content -->
<div class="scrolling-long-content">

    <!-- Modal -->
    <ng-template #modalSLC let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">Buró de crédito</h4>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div style="padding: 20px 20px 20px 20px;">

            <div class="content-header">
                <h5 class="mb-0">Datos Generales</h5>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="vertical-modern-username">Fecha de creación de solicitud</label>
                    <input type="text" id="vertical-modern-username" class="form-control"
                           value="{{userViewData.created_at}}" disabled/>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" >Nombres</label>
                    <input
                            type="email"
                            value="{{userViewData.nombres}}"
                            class="form-control"
                            disabled
                    />
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" >Apellidos</label>
                    <input
                            type="text"
                            value="{{userViewData.apellidos}}"
                            class="form-control"
                            disabled
                    />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="form-label" for="vertical-modern-username">Nivel de instrucción</label>
                    <input type="text" class="form-control"
                           value="{{userViewData.nivelInstruccion}}" disabled/>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label" >Número de cargas</label>
                    <input
                            type="text"
                            class="form-control"
                            value="{{userViewData.numeroCargas}}"
                            disabled
                    />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="vertical-modern-username">Tipo de vivienda</label>
                    <input type="text" class="form-control"
                           value="{{userViewData.tipoVivienda}}" disabled/>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" >Nombre del dueño</label>
                    <input
                            type="text"
                            class="form-control"
                            value="{{userViewData.nombreDueno}}"
                            disabled
                    />
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" >Dirección del domicilio</label>
                    <input
                            type="text"
                            class="form-control"
                            value="{{userViewData.direccionDomicilio}}"
                            disabled
                    />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="vertical-modern-username">Referencias del domicilio</label>
                    <input type="text" class="form-control"
                           value="{{userViewData.referenciaDomicilio}}"
                           disabled/>
                </div>

            </div>
            <div class="content-header">
                <h5 class="mb-0">Ocupación del solicitante</h5>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="vertical-modern-username">Nombre del negocio o empresa en la que
                        trabaja.</label>
                    <input type="text" class="form-control"
                           value="{{ocupacionSolicitante.nombreNegocio}}" disabled/>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="vertical-modern-username">Direccón del negocio o empresa en la que
                        trabaja.</label>
                    <input type="text" class="form-control"
                           value="{{ocupacionSolicitante.direccionNegocio}}" disabled/>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="vertical-modern-username">Tiempo de trabajo en el negocio o empresa
                        en la que trabaja (años).</label>
                    <input type="text" class="form-control"
                           value="{{ocupacionSolicitante.tiempoTrabajo}}" disabled/>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="vertical-modern-username">Cargo que desempreña</label>
                    <input type="text" class="form-control"
                           value="{{ocupacionSolicitante.cargoDesempeno}}" disabled/>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="vertical-modern-username">Sueldo que percibe</label>
                    <input type="text" class="form-control"
                           value="{{ocupacionSolicitante.sueldoPercibe}}" disabled/>
                </div>

            </div>
            <div class="content-header">
                <h5 class="mb-0">REFERENCIAS DEL SOLICITANTE</h5>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="vertical-modern-username">Refencia familiar:</label>
                    <br>
                    Nombre:<input type="text" class="form-control"
                                  value="{{referenciasSolicitante.nombre}}{{referenciasSolicitante.apellidos}}" disabled/>
                    Dirección:<input type="text" class="form-control"
                                     value="{{referenciasSolicitante.direccion}}" disabled/>
                    Teléfono:<input type="text" class="form-control"
                                    value="{{referenciasSolicitante.telefono}}" disabled/>
                </div>
                <div class="form-group col-md-4">

                    <label class="form-label" for="vertical-modern-username">Refencia comercial o labolar:</label>
                    <br>
                    Nombre:<input type="text" class="form-control"
                                  value="" disabled/>
                    Dirección:<input type="text" class="form-control"
                                     value="" disabled/>
                    Teléfono:<input type="text" class="form-control"
                                    value="" disabled/>

                </div>


            </div>

            <div class="content-header">
                <h5 class="mb-0">INGRESOS DEL SOLICITANTE</h5>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="vertical-modern-username">Sueldo Mensual</label>
                    <input type="text" class="form-control"
                           value="{{ingresosSolicitante.sueldoMensual}}" disabled/>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="vertical-modern-username">Sueldo cónyuge</label>
                    <input type="text" class="form-control"
                           value="{{ingresosSolicitante.sueldoConyuge}}" disabled/>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="vertical-modern-username">Otros Ingresos(valor)</label>
                    <input type="text" class="form-control"
                           value="{{userViewData.otrosIngresos}}" disabled/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">

                </div>
                <div class="form-group col-md-4">

                    <label class="form-label" for="vertical-modern-username">Especifique otros ingresos(ejemplo: vendo
                        articulos de revista en mi tiempo libre, etc.):</label>

                    <input
                            type="text" class="form-control" disabled>


                </div>
                <div class="form-group col-md-4">

                </div>

            </div>
            <div class="content-header">
                <h5 class="mb-0">GASTOS DEL SOLICITANTE</h5>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="vertical-modern-username">Alimentación</label>
                    <input type="text" class="form-control"
                           value="{{gastosSolicitante.alimentacion}}" disabled/>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="vertical-modern-username">Arriendo(Ingrese 0 si es propia):</label>
                    <input type="text" class="form-control"
                           value="{{gastosSolicitante.arriendo}}" disabled/>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="vertical-modern-username">Vestimenta</label>
                    <input type="text" class="form-control"
                           value="{{gastosSolicitante.vestido}}" disabled/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="vertical-modern-username">Transporte</label>
                    <input type="text" class="form-control"
                           value="{{gastosSolicitante.trasporte}}" disabled/>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="vertical-modern-username">Servicios Básicos</label>
                    <input type="text" class="form-control"
                           value="{{gastosSolicitante.serviciosBasicos}}" disabled/>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="vertical-modern-username">Medicina</label>
                    <input type="text" class="form-control"
                           value="{{gastosSolicitante.medicina}}" disabled/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="form-label" for="vertical-modern-username">Educación</label>
                    <input type="text" class="form-control"
                           value="{{gastosSolicitante.educacion}}" disabled/>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label" for="vertical-modern-username">Otros préstamos(Ingrese el valor mensual)</label>
                    <input type="text" class="form-control"
                           value="{{gastosSolicitante.otrosPrestamos}}" disabled/>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="form-label" for="vertical-modern-username">Otros gastos</label>
                    <input type="text" class="form-control"
                           value="{{gastosSolicitante.otrosGastos}}" disabled/>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label" for="vertical-modern-username">Especifique otros gastos(ejemplo: colegiaturas dividias,cuidado a terceras personas,etc.)</label>
                    <input type="text" class="form-control"
                           value="{{gastosSolicitante.deccripcion}}" disabled/>
                </div>
            </div>
        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modal.close('Accept click')" rippleEffect>
                Cerrar
            </button>
        </div>
    </ng-template>
    <!-- / Modal -->
</div>
